*,
*::before,
*::after {
  box-sizing: border-box;
}

#grid-container {
  width: 50rem;
  height: 50rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  height: 50rem / 16;
  flex: 1;
  display: flex;
}

.cell {
  border: 1px solid black;
  flex: 1;
}